[submodule "src/ros_kortex"]
	path = src/ros_kortex
	url = https://github.com/Kinovarobotics/ros_kortex
[submodule "src/kortex_vision"]
	path = src/kortex_vision
	url = https://github.com/Kinovarobotics/ros_kortex_vision.git
