
<launch>

<include file="$(find pick_place)/launch/kortex_driver.launch">
    <arg name="start_rviz" value="false" />
</include>
<include file="$(find pick_place)/launch/kinova_vision_rgbd.launch" />
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090" />
</include>

<node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen" />

<node pkg="pick_place" type="main.py" name="pick_place" output="screen" />

<!-- Start rviz using pick_place.rviz -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pick_place)/pick_place.rviz" output="screen" />

</launch>

