#!/usr/bin/env python
"""
dynamic_reconfigure parameters for operator_intent_node (disagreement metric).
"""
PACKAGE = 'pick_place'
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('ema_beta',          double_t, 0, 'EMA smoothing factor for disagreement D', 0.2,   0.01,  1.0)
gen.add('v_ref_base',        double_t, 0, 'Base normalization floor (m/s)',          0.02,  0.001, 0.5)
gen.add('v_ref_arm',         double_t, 0, 'Arm normalization floor (m/s)',           0.04,  0.001, 0.5)
gen.add('w_dir',             double_t, 0, 'Directional opposition weight (relu(-cos))', 0.0, 0.0,  2.0)
gen.add('lambda_op_min',     double_t, 0, 'Floor on lambda_operator output (D=0)',    0.1,  0.0,   0.5)
gen.add('lambda_op_max',     double_t, 0, 'Ceiling on lambda_operator output (D=1)',  0.9,  0.5,   1.0)
gen.add('excitation_thresh', double_t, 0, 'Min ||u_H|| to register disagreement',     0.01, 0.0,   0.1)
gen.add('reset_on_idle',     bool_t,   0, 'Reset D to 0 on idle timeout',             True)
gen.add('idle_timeout_s',    double_t, 0, 'Idle timeout before D reset (s)',          5.0,  1.0,  60.0)

exit(gen.generate(PACKAGE, 'operator_intent_node', 'OperatorIntent'))
