#!/usr/bin/env python
"""
dynamic_reconfigure parameters for operator_intent_node.
"""
PACKAGE = 'pick_place'
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('pgd_step_size',     double_t, 0, 'PGD learning rate mu (normalized LMS)',     0.01,  0.001, 2.0)
gen.add('pgd_gamma',         double_t, 0, 'Reserved scaling factor (keep at 1.0)',      0.01,   0.001,   1.0)
gen.add('sigmoid_sharpness', double_t, 0, 'k in lambda_op = 1 - sigmoid(k*(a-0.5))', 8.0,  1.0,  20.0)
gen.add('lambda_op_min',     double_t, 0, 'Floor on lambda_operator output',         0.1,   0.0,   0.5)
gen.add('lambda_op_max',     double_t, 0, 'Ceiling on lambda_operator output',       0.9,   0.5,   1.0)
gen.add('alpha_floor',       double_t, 0, 'Floor for alpha PGD projection',          0.01,  0.001, 0.3)
gen.add('excitation_thresh', double_t, 0, 'Min ||u_R|| to allow PGD update',         0.01,  0.0,   0.1)
gen.add('reset_on_idle',     bool_t,   0, 'Reset alpha to 0.5 on idle timeout',      True)
gen.add('idle_timeout_s',    double_t, 0, 'Idle timeout before alpha reset (s)',      5.0,   1.0,  60.0)

exit(gen.generate(PACKAGE, 'operator_intent_node', 'OperatorIntent'))
